.greenish {
    color: #00adb5 !important;
}

.whiteish {
    color: #eeeeee !important;
}

#header {
    background-color: #222831;
}

#home {
    background-color: #222831;
}

#about {
    background-color: #393e46;
}

#experience {
    background-color: #222831;
}

#contact {
    background-color: #222831;
}